In [1]:
import pandas as pd
url= r'C:\Users\chi_b\OneDrive\Desktop\Analytics QMST 5336\Project\home_price_zip.csv'
full_csv_df = pd.read_csv(url,parse_dates = True)
full_csv_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1996-01-31,...,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31
0,61639,0,10025,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,NaN,...,930560.0,932099.0,933253.0,930160.0,926279.0,920531.0,919481.0,920766.0,927266.0,932302.0
1,84654,1,60657,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,296113.0,...,786707.0,787854.0,789482.0,790451.0,790939.0,791300.0,793322.0,796143.0,801148.0,806603.0
2,61637,2,10023,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,NaN,...,1290836.0,1291613.0,1288723.0,1283261.0,1278518.0,1279537.0,1279105.0,1280177.0,1282240.0,1289935.0
3,91982,3,77494,Zip,TX,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,203140.0,...,340112.0,340320.0,340828.0,341998.0,343077.0,343858.0,344397.0,345495.0,346575.0,348416.0
4,84616,4,60614,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,462086.0,...,1010879.0,1012589.0,1014209.0,1015467.0,1015662.0,1017251.0,1020360.0,1023859.0,1029882.0,1036427.0

In [2]:
full_csv_df = full_csv_df.dropna()

In [3]:
atlanta_metro_df = full_csv_df[full_csv_df['Metro'].str.contains('Atlanta')]
atlanta_metro_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1996-01-31,...,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31
36,71067,37,30349,Zip,GA,GA,Riverdale,Atlanta-Sandy Springs-Roswell,Clayton County,97498.0,...,166689.0,168111.0,169236.0,170161.0,170468.0,171519.0,172848.0,174538.0,176047.0,177895.0
51,70829,52,30044,Zip,GA,GA,Lawrenceville,Atlanta-Sandy Springs-Roswell,Gwinnett County,116326.0,...,218777.0,219793.0,220923.0,222027.0,223341.0,224911.0,226691.0,228803.0,231371.0,234334.0
57,70828,58,30043,Zip,GA,GA,Lawrenceville,Atlanta-Sandy Springs-Roswell,Gwinnett County,142360.0,...,252319.0,253297.0,254412.0,255508.0,256910.0,258600.0,260530.0,262827.0,265628.0,268900.0
64,70874,65,30096,Zip,GA,GA,Duluth,Atlanta-Sandy Springs-Roswell,Gwinnett County,130095.0,...,252978.0,253855.0,254880.0,255904.0,257205.0,258759.0,260358.0,262220.0,264567.0,267491.0
68,70810,69,30024,Zip,GA,GA,Suwanee,Atlanta-Sandy Springs-Roswell,Gwinnett County,189623.0,...,374298.0,374575.0,375161.0,376110.0,377700.0,379532.0,381592.0,383821.0,386815.0,390255.0

In [4]:
atlanta_metro_df.describe()

,RegionID,SizeRank,RegionName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,1996-07-31,...,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31
count,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,...,1.730000e+02,1.730000e+02,1.730000e+02,1.730000e+02,1.730000e+02,1.730000e+02,1.730000e+02,1.730000e+02,1.730000e+02,1.730000e+02
mean,70960.242775,5344.687861,30226.393064,126006.080925,126272.462428,126491.202312,126988.427746,127465.127168,127998.294798,128495.884393,...,2.722754e+05,2.735171e+05,2.746929e+05,2.758113e+05,2.767431e+05,2.782073e+05,2.799430e+05,2.820013e+05,2.840686e+05,2.864274e+05
std,146.974958,5462.882107,250.087325,62128.315304,62325.016330,62456.551212,62781.092392,63038.398368,63318.165204,63577.769291,...,1.540360e+05,1.544864e+05,1.545851e+05,1.544727e+05,1.539466e+05,1.543066e+05,1.549157e+05,1.558664e+05,1.564255e+05,1.571059e+05
min,70789.000000,37.000000,30002.000000,30676.000000,30581.000000,30558.000000,30503.000000,30563.000000,30628.000000,30670.000000,...,6.147700e+04,6.169200e+04,6.183900e+04,6.187700e+04,6.192400e+04,6.203000e+04,6.227500e+04,6.238200e+04,6.249400e+04,6.242800e+04
25%,70855.000000,1336.000000,30076.000000,87445.000000,87618.000000,87818.000000,88356.000000,88805.000000,89267.000000,89280.000000,...,1.744410e+05,1.763930e+05,1.778460e+05,1.790970e+05,1.795780e+05,1.810320e+05,1.827600e+05,1.845530e+05,1.861630e+05,1.884590e+05
50%,70946.000000,3055.000000,30179.000000,114755.000000,115132.000000,115402.000000,116625.000000,117532.000000,117909.000000,118336.000000,...,2.222420e+05,2.230810e+05,2.239720e+05,2.251260e+05,2.264270e+05,2.272110e+05,2.285140e+05,2.306090e+05,2.332270e+05,2.354740e+05
75%,71026.000000,7839.000000,30306.000000,145740.000000,145903.000000,146328.000000,147270.000000,148246.000000,149117.000000,149864.000000,...,3.170400e+05,3.189630e+05,3.206000e+05,3.225260e+05,3.232120e+05,3.250110e+05,3.273870e+05,3.293260e+05,3.325500e+05,3.358410e+05
max,71708.000000,25206.000000,31830.000000,521445.000000,523727.000000,526365.000000,530814.000000,534483.000000,537003.000000,539400.000000,...,1.236654e+06,1.243945e+06,1.244749e+06,1.242548e+06,1.235686e+06,1.238866e+06,1.242913e+06,1.248865e+06,1.251044e+06,1.252388e+06

In [6]:
atlanta_metro_df = atlanta_metro_df.drop(['RegionID','SizeRank','RegionType','State','StateName','CountyName','City','Metro'],axis=1)

In [7]:
atlanta_metro_df = atlanta_metro_df.rename(columns={'RegionName':'ZipCode'})

In [8]:
atlanta_metro_df

,ZipCode,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,1996-07-31,1996-08-31,1996-09-30,...,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31
36,30349,97498.0,98023.0,98438.0,99297.0,100063.0,100805.0,101325.0,101816.0,102252.0,...,166689.0,168111.0,169236.0,170161.0,170468.0,171519.0,172848.0,174538.0,176047.0,177895.0
51,30044,116326.0,116520.0,116730.0,117126.0,117532.0,117909.0,118289.0,118661.0,118989.0,...,218777.0,219793.0,220923.0,222027.0,223341.0,224911.0,226691.0,228803.0,231371.0,234334.0
57,30043,142360.0,142525.0,142714.0,143104.0,143498.0,143851.0,144202.0,144651.0,145098.0,...,252319.0,253297.0,254412.0,255508.0,256910.0,258600.0,260530.0,262827.0,265628.0,268900.0
64,30096,130095.0,130324.0,130569.0,131071.0,131594.0,132101.0,132549.0,133028.0,133474.0,...,252978.0,253855.0,254880.0,255904.0,257205.0,258759.0,260358.0,262220.0,264567.0,267491.0
68,30024,189623.0,190028.0,190159.0,190667.0,191010.0,191625.0,192294.0,192988.0,193628.0,...,374298.0,374575.0,375161.0,376110.0,377700.0,379532.0,381592.0,383821.0,386815.0,390255.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18453,30218,57624.0,58032.0,58023.0,58379.0,58468.0,58954.0,59330.0,60096.0,60659.0,...,132398.0,133204.0,133962.0,134081.0,134036.0,134040.0,134125.0,134191.0,134195.0,134221.0
18799,30641,95779.0,95842.0,96130.0,95992.0,96220.0,96250.0,96882.0,97392.0,98208.0,...,260270.0,261905.0,262979.0,264022.0,265833.0,267569.0,269352.0,270553.0,272801.0,275337.0
19085,30137,100980.0,101096.0,101272.0,101662.0,102079.0,102409.0,102757.0,103332.0,103875.0,...,171713.0,171834.0,172460.0,173672.0,174839.0,175778.0,176279.0,176927.0,176730.0,176518.0
22713,31085,51988.0,51932.0,51701.0,51369.0,51125.0,51428.0,52010.0,52954.0,53595.0,...,138718.0,139505.0,140142.0,140844.0,141223.0,141603.0,141793.0,142070.0,142526.0,142937.0
23772,30177,55817.0,55935.0,55838.0,56028.0,56266.0,56877.0,57340.0,57964.0,58567.0,...,138937.0,139523.0,140060.0,140459.0,140692.0,140850.0,140708.0,140406.0,139999.0,139621.0

In [10]:
atlanta_metro_df.to_csv(r'C:\Users\chi_b\OneDrive\Desktop\Analytics QMST 5336\Project\atlanta_metro_zip.csv')

In [11]:
atlanta_metro_df = atlanta_metro_df.set_index('ZipCode')

In [13]:
atlanta_metro_df = atlanta_metro_df.transpose()
atlanta_metro_df

ZipCode,30349,30044,30043,30096,30024,30281,30040,30318,30188,30052,...,30293,30182,30056,30251,31830,30218,30641,30137,31085,30177
1996-01-31,97498.0,116326.0,142360.0,130095.0,189623.0,112115.0,178262.0,132944.0,144227.0,128538.0,...,46874.0,58606.0,85906.0,55283.0,43089.0,57624.0,95779.0,100980.0,51988.0,55817.0
1996-02-29,98023.0,116520.0,142525.0,130324.0,190028.0,112332.0,178917.0,132922.0,144433.0,128789.0,...,46962.0,58549.0,85595.0,55415.0,43116.0,58032.0,95842.0,101096.0,51932.0,55935.0
1996-03-31,98438.0,116730.0,142714.0,130569.0,190159.0,112464.0,178248.0,132949.0,144616.0,129103.0,...,46961.0,58695.0,85560.0,55569.0,43099.0,58023.0,96130.0,101272.0,51701.0,55838.0
1996-04-30,99297.0,117126.0,143104.0,131071.0,190667.0,112763.0,178362.0,133160.0,145030.0,129722.0,...,47115.0,58471.0,85422.0,55702.0,43187.0,58379.0,95992.0,101662.0,51369.0,56028.0
1996-05-31,100063.0,117532.0,143498.0,131594.0,191010.0,112992.0,177143.0,133411.0,145563.0,130425.0,...,47065.0,58373.0,85685.0,55836.0,43265.0,58468.0,96220.0,102079.0,51125.0,56266.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-30,171519.0,224911.0,258600.0,258759.0,379532.0,191100.0,354086.0,273394.0,299212.0,242163.0,...,93870.0,150117.0,194993.0,128701.0,124318.0,134040.0,267569.0,175778.0,141603.0,140850.0
2020-07-31,172848.0,226691.0,260530.0,260358.0,381592.0,192900.0,356380.0,275750.0,301265.0,243675.0,...,94166.0,151806.0,195517.0,128922.0,124342.0,134125.0,269352.0,176279.0,141793.0,140708.0
2020-08-31,174538.0,228803.0,262827.0,262220.0,383821.0,194407.0,358184.0,278287.0,303691.0,245564.0,...,94373.0,153643.0,196850.0,129161.0,124213.0,134191.0,270553.0,176927.0,142070.0,140406.0
2020-09-30,176047.0,231371.0,265628.0,264567.0,386815.0,196252.0,361184.0,280602.0,306039.0,247911.0,...,94687.0,155651.0,198255.0,129331.0,124136.0,134195.0,272801.0,176730.0,142526.0,139999.0
2020-10-31,177895.0,234334.0,268900.0,267491.0,390255.0,198270.0,364374.0,283083.0,308603.0,250630.0,...,94853.0,157473.0,199840.0,129457.0,124037.0,134221.0,275337.0,176518.0,142937.0,139621.0

In [15]:
atlanta_metro_df.index = pd.to_datetime(atlanta_metro_df.index)

In [16]:
atlanta_metro_df.index.dtype

dtype('<M8[ns]')

In [17]:
atlanta_metro_df.to_csv(r'C:\Users\chi_b\OneDrive\Desktop\Analytics QMST 5336\Project\atlanta_metro_zip_date_index.csv')